.root {
  margin: 20px;
  padding: 20px 30px;
  background-color: #f0f0f0;
  font-family: Avenir, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
