{
  "extends": "molindo/react",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "react/prop-types": 0,
    "prettier/prettier": ["error", {"singleQuote": true, "bracketSpacing": false, "trailingComma": "none"}],
    "no-shadow": 0
  },
  "globals": {
    "CLIENT_SCRIPTS_BY_PATH": false
  }
}
