.root {
  display: flex;
  align-items: center;
}

.label {
  margin: 0;
  font-size: 16px;
}

.count {
  display: inline-block;
  font-weight: bold;
  min-width: 25px;
}

.button {
  margin-left: 20px;
}
